.header {
  padding-bottom: 2em;
}

.header-content {
  width: 80%;
  margin: 0 auto;
}

.header-content a,
.header-content svg,
.header-content input {
  color: #fafafa;
}

.header-content a:hover,
.header-content svg:hover {
  color: #ffccbc;
}

.header-content a {
  font-weight: 400;
  text-decoration: none;
}

.title {
  text-align: left;
  flex-grow: 1;
}
