.header {
  padding-bottom: 2em;
}

.header-content {
  width: 80%;
  margin: 0 auto;
}

.header-content a {
  color: #000;
  font-weight: 400;
  text-decoration: none;
}

.header-content a:hover {
  color: #333;
}

.title {
  text-align: left;
  flex-grow: 1;
}
