.search {
  position: relative;
  background-color: #C5E1A5;
}

.search-icon {
  width: 3em;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  width: 100%;
  padding: 0.5em 0.5em 0.5em 3em;
}

.search-input input:focus {
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
}
